@media screen and (min-width: 480px){
  body{
    background-color: #009 !important;
  }

  .header{
    display: block;
    font-size: 36px;
    font-family: "Comic Sans";
    color: #ddd;
    background-color: #00d;
    text-align: center;
    margin: 55px -15px 0 -15px;
  }

  .navbar-blue{
    border-radius: 0px !important;
    border-color: none !important;
    border-bottom-color: #005 !important;
  }

  .navbar-nav{
    width: 100% !important;
    text-align: center !important;
  }

  .navbar-nav > li{
    float: none !important;
    display: inline-block !important;
  }

  .active, .navbar-blue > ul li{
    background-color: #007 !important;
  }

  .navbar-nav > li:hover a:hover{
    background-color: #06f !important;
  }

  .navbar-brand, .nav.navbar-nav li a{
    color: #ddd !important;
  }

  li:active a:active{
    background-color: #009 !important;
  }

  .dropdown-toggle:link, .dropdown-toggle:visited, .dropdown-toggle:hover, .dropdown-toggle:active{
    background-color: #009 !important;
  }

  .dropdown-menu{
    color: #ddd !important;
    background-color: #06f !important;
    box-shadow: 5px 5px 5px #000 !important;
  }

  .dropdown-menu:link, .dropdown-menu:visited, .dropdown-menu:hover, .dropdown-menu:active{
    background-color: #009 !important;
  }

  p{
    color: white;
    font-size: 26px;
  }

  .img > img{
    float: left;
    clear: right;
    margin-right: 15px;
  }

  .img-par{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .par-link{
    color: lightblue;
  }

  .par-link:visited, .par-link:hover, .par-link:active, .par-link:focus{
    color: #99f;
    text-decoration: none;
  }

  .main-header{
    text-align: center;
    color: #ddd;
  }

  .main-par{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .main-list{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    list-style-type: none;
    display: block;
  }

  .border{
    border-bottom: 1px solid black;
  }

  .large{
    font-size: 42px;
  }

  .med{
    font-size: 30px;
  }

  .shaded-blue{
    color: #39d;
  }

  #tutorial{
    padding-bottom: 460px;
  }
}
